@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swa");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.4 ease-in;
  text-decoration: none;
}

#content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.category {
  margin-bottom: 20px;
}

.category h2 {
  margin: 0;
  font-size: 24px;
}

.category-total {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
}

.country-item {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.country-name,
.country-value {
  padding: 5px 10px;
}
